<div class="your-cart">
  {{#each shoppingCart.items as |item|}}
    <span class="cart-item">{{item.title}} -- {{item.price}}</span>
    <button {{action 'removeFromCart' item}} class="btn btn-default">Remove Item</button>
  {{/each}}
</div>
