{{#each sortedProducts as |product|}}
<div class="col-md-6">
  <img src={{product.image}} alt="featured-image"/>
  <span class="title">{{#link-to 'product' product.id}}{{product.title}}{{/link-to}}</span>
  <span class="price">{{convert-currency product}}</span>
</div>
{{/each}}
