<div class="side-nav">
  <h2 class="shop-by">Shop:</h2>
  {{#link-to 'new'}}<span class="side-nav-link">NEW ARRIVALS</span>{{/link-to}}
  {{#link-to 'category' 'dresses'}}<span class="side-nav-link">DRESSES</span>{{/link-to}}
  {{#link-to 'category' 'tops'}}<span class="side-nav-link">TOPS</span>{{/link-to}}
  {{#link-to 'category' 'bottoms'}}<span class="side-nav-link">BOTTOMS</span>{{/link-to}}
  {{#link-to 'category' 'outerwear'}}<span class="side-nav-link">OUTERWEAR</span>{{/link-to}}
  {{#link-to 'category' 'bags'}}<span class="side-nav-link">BAGS</span>{{/link-to}}
  {{#link-to 'category' 'shoes'}}<span class="side-nav-link">SHOES</span>{{/link-to}}
  {{#link-to 'category' 'accoutrement'}}<span class="side-nav-link">ACCOUTREMENT</span>{{/link-to}}
  <h2 class="shop-by">By Era:</h2>
  {{#link-to 'era' 'antique'}}<span class="side-nav-link">ANTIQUE</span>{{/link-to}}
  {{#link-to 'era' '1920S/1930s'}}<span class="side-nav-link">1920s / 1930s</span>{{/link-to}}
  {{#link-to 'era' '1940s/1950s'}}<span class="side-nav-link">1940s / 1950s</span>{{/link-to}}
  {{#link-to 'era' '1960s/1970s'}}<span class="side-nav-link">1960s / 1970s</span>{{/link-to}}
  {{#link-to 'era' '1980s/1990s'}}<span class="side-nav-link">1980s / 1990s</span>{{/link-to}}
  <h2 class="shop-by">By Size:</h2>
  {{#link-to 'size' 'x small'}}<span class="side-nav-link">X-SMALL</span>{{/link-to}}
  {{#link-to 'size' 'small'}}<span class="side-nav-link">SMALL</span>{{/link-to}}
  {{#link-to 'size' 'medium'}}<span class="side-nav-link">MEDIUM</span>{{/link-to}}
  {{#link-to 'size' 'large'}}<span class="side-nav-link">LARGE</span>{{/link-to}}
  {{#link-to 'size' 'x large'}}<span class="side-nav-link">X-LARGE</span>{{/link-to}}
</div>
