
@import url(https://fonts.googleapis.com/css?family=Roboto:300italic,300,100italic,100|Playfair+Display:400,400italic,700,700italic,900,900italic);

// universal styling

* {
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 1.1em;
  color: #3A474F;
}

body {
  background-color: #F1F1F3;
  overflow-y: scroll;
}


.container {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.product-tile img {
  width: 95%;
  &:hover {
    opacity: 0.70;
  }
}

a:active {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

ul.dropdown-menu {
  background-color: #F1F1F3;
}
// header


.side-nav-link {
  font-size: .6em;
  display: block;
  padding-bottom: 5px;
  &:hover {
    color: #2445a8;
    font-weight: 300;
  }
}

a {
  text-decoration: none;
}

a.nav-link {
  text-decoration: none;
  padding-right: 10px;
  font-size: .8em;
  &:hover {
    color: #800040;
    font-weight: bold;
  }
}

a.dropdown-toggle {
  text-decoration: none;
  &:hover {
    color: #800040;
    font-weight: bold;
  }
}

.nav-link {
  font-size: .8em;
  padding-right: 7px;
  &:hover {
    color: #800040;
    font-weight: 300;
  }
}


h1 {
  font-family: 'Playfair Display';
  font-size: 2em;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  font-family: 'Roboto';
  font-size: 1.5em;
  font-weight: 100;
  text-transform: uppercase;
}

h4 {
  font-size: 1.2em;
  font-weight: 100;
  text-transform: uppercase;
}


a {
  text-decoration: none;
  color: black;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

.dropdown-link {
  font-size: 1.2em;
  display: block;
  padding-bottom: 5px;
  padding-left: 10px;
  font-weight: 300;
  &:hover {
    color: #800040;
    font-weight: bold;
    text-decoration: underline;
  }
}

.cart-link {
  font-size: .7em;
  color: #800040;
}



.dropdown a {
  padding-right: 7px;
  font-size: .8em;
  text-decoration: none;
}

.sign-out a {
  color: #800040;
}

.welcome-message {
  text-align: center;
}


//side navigation

.side-nav {
  border-right: 1px solid #bfbfbf;
}

.shop-by {
  font-family: 'Playfair Display';
  font-size: 1.2em;
  font-style: italic;
  color: #800040;
}


//product info dynamic page
.product-name {
  font-family: 'Playfair Display';
  font-size: 1.2em;
  margin-top: 0;
  font-style: italic;
  padding-bottom: 10px;
}

.product-price {
  font-weight: 300;
  padding-bottom: 10px;
  border-bottom: 1px solid  #bfbfbf;
}

.attr {
  font-weight: 300;
}

.info-tile {
  padding-left: 40px;
}

.contact-us {
  padding-top: 40px;
  text-align: center;
  display: block;
  font-size: .9em;
}

.contact-us a {
  &:hover {
    color: #800040;
  }
}

.add-cart {
  margin-top: 30px;
  background-color: #800040;
  color: #fff;
  padding: 15px;
  font-size: .8em;
}


.featured-img {
  width: 100%;
}

.product-info p {
  font-size: .65em;
  padding-left: 10px;
}

.product-info {
  padding-right: 10px;
}

.product-side-nav {
  border-right: 1px solid #660033;
}


//cart styling

.your-cart {
  font-weight: '100';
}

.cart-item {
  display: block;
}

.row {
  padding-top: 15px;
  text-align: right;
}

.empty-cart {
  text-align: center;
  margin-top: 50px;
  h1 {
    padding-bottom: 10px;
  }
}

.thumbnail {
  width: 200px;
  border: none;
  border-radius: 5%;
}

.in-cart {
  border-bottom: 1px solid #bfbfbf;
  height: 250px;
  margin-top: 40px;
  font-size: .9em;
}

.right {
  padding-top: 10px;
  text-align: right;
  button {
    width: 200px;
  }
}

.checkout-totals {
  font-family: 'Playfair Display';
  font-style: italic;
}

.left {
  padding-top: 10px;
  text-align: left;
}

.your-cart h4 {
  font-family: 'Playfair Display';
  font-style: italic;
}

.cart-checkout h3 {
  font-family: 'Playfair Display';
  font-style: italic;
  font-size: 1.8em;
  text-align: center;
  text-transform: capitalize;
}


.no-products {
  text-align: center;
  font-size: 1.4em;
  margin-top: 50px;
}

.checkout-btn {
  background-color: #800040;
  color: #fff;
  font-size: .4em;
}

.remove-item {
  background-color: #3A474F;
  color: #fff;
}


// Product Gallery


.paginated-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-content: flex-end;
  width: 100%;
}

.pagination-centered {
  font-size: .4em;
  text-align: center;
}

.thumb-img {
  width: 250px;
}

.side-nav h2 {
  margin-top: 0;
}

.sort-by {
  font-weight: 300;
}

.low {
  border-right: 1px solid black;
  padding-right: 5px;
  cursor: pointer;
  &:hover {
    color: #800040;
    font-weight: bold;
  }
}

.high {
  padding-left: 5px;
  cursor: pointer;
  border-right: 1px solid #bfbfbf;
  padding-right: 5px;
  &:hover {
    color: #800040;
    font-weight: bold;
  }
}

.new {
  padding-left: 5px;
  cursor: pointer;
  &:hover {
    color: #800040;
    font-weight: bold;
  }
}

.gallery {
  width: 100%;
  border-top: .5px solid #bfbfbf;
}

.contact, .about {
  text-align: center;
}

.logo {
  width: 350px;
}

.product-tile {
  padding: 10px;
}

.title, .price {
  font-size: .7em;
  display: block;
}

.title {
  padding-top: 5px;
}

.new-arrivals {
  font-family: 'Playfair Display';
  font-size: 1.7em;
  font-style: italic;
  color: #800040;
}


.buttons {
  font-size: .5em;
  text-align: right;
  margin-right: 40px;
}

.product-gallery {
  padding-left: 20px;
}

// .background-img {
//   width: 600px;
//   height: 80vh;
//   margin-right: 90px;
//   background-repeat: no-repeat;
//   background-position: top;
//   background-size: cover;
// }
//
// .background-img2 {
//   margin-top: 70px;
//   height: 60vh;
//   width: 400px;
//   background-repeat: no-repeat;
//   background-position: top;
//   background-size: cover;
// }

.navbar {
  height: 225px;
  text-align: center;
  margin-bottom: 0;
}

.shopping-bag {
  font-size: .85em;
  text-align: right;
  margin-left: auto;
}

span.sign-out {
  text-align: left;
  font-size: .7em;
  padding-top: 8px;
  padding-right: 5px;
}



.mini-links {
  display: flex;
}

.link-bar {
  padding: 0 10px 10px 10px;
  width: 100%;
}


//admin tile styling

.admin-main-photo {
  width: 100%;
}

.admin-item {
  padding: 5px;
}

@media only screen and (max-width: 1100px) {
  body {
    overflow: scroll;
  }
  .navbar {
    text-align: left;
  }
  .link-bar {
    display: none;
  }

}

@media only screen and ( max-width: 992px ) {
  .buttons {
    text-align: left;
    font-size: .6em;
    margin-left: 20px;
    .navbar {
      height: 175px;
    }
    .logo {
      width: 30%;
    }
  }
}


@media only screen and ( max-width: 768px) {
  .nav-bar {
    text-align: center;
  }
  .logo {
    width: 30%;
    margin: 0 auto;
  }
  .link-bar {
    display: block;
  }
  .side-nav {
    display: none;
  }
  .product-tile img {
    width: 50%;
  }
  .info-tile {
    width: 50%;
  }
  .product-info {
    width: 50%;
    margin-bottom: 20px;
  }
}
