@import url(https://fonts.googleapis.com/css?family=Roboto:300italic,300,100italic,100|Playfair+Display:400,400italic,700,700italic,900,900italic);

* {
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 1.1em;
}



// https://img0.etsystatic.com/068/1/8033764/il_fullxfull.794534046_qeqb.jpg     poncho
// https://img0.etsystatic.com/100/1/8033764/il_570xN.832061350_7riw.jpg     kimono
// https://img0.etsystatic.com/061/0/8033764/il_fullxfull.779085696_11pg.jpg   white blouse
// https://img1.etsystatic.com/068/0/8033764/il_fullxfull.765278815_5zjx.jpg fringe suede
// https://img0.etsystatic.com/050/0/8033764/il_fullxfull.726672842_75fa.jpg red kaftan
// https://img1.etsystatic.com/055/0/8033764/il_fullxfull.763180709_9mvi.jpg bag
// https://img1.etsystatic.com/058/1/8033764/il_fullxfull.741624475_pf9k.jpg medallion

.empty-cart {
  text-align: center;
  margin-top: 50px;
  h1 {
    padding-bottom: 10px;
  }
}

.thumbnail {
  width: 200px;
  border: none;
  border-radius: 5%;
}

.in-cart {
  border-bottom: 1px solid #bfbfbf;
  height: 250px;
  margin-top: 40px;
  font-size: .9em;
}

.right {
  padding-top: 10px;
  text-align: right;
  button {
    width: 200px;
  }
}

.checkout-totals {
  font-family: 'Playfair Display';
  font-style: italic;
}

.left {
  padding-top: 10px;
  text-align: left;
}

.your-cart h4 {
  font-family: 'Playfair Display';
  font-style: italic;
}

.cart-checkout h3 {
  font-family: 'Playfair Display';
  font-style: italic;
  font-size: 1.8em;
  text-align: center;
  text-transform: capitalize;
}



.no-products {
  text-align: center;
  font-size: 1.4em;
  margin-top: 50px;
}

.paginated-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-content: flex-end;
}

.pagination-centered {
  font-size: .4em;
  text-align: center;
}

.arrow {
  color: black;
}

.main-container {
  margin-bottom: 80px;
}

.featured-img {
  padding-top: 10px;
}

.thumb-img {
  width: 250px;
}
.add-cart {
  margin-top: 30px;
}

.side-nav h2 {
  margin-top: 0;
}

.product-side-nav {
  border-right: 1px solid #bfbfbf;
  height: 650px;
}

.product-info p {
  font-size: .65em;
  padding-left: 10px;
}

.product-name {
  font-family: 'Playfair Display';
  font-size: 1.2em;
  margin-top: 0;
  font-style: italic;
  padding-bottom: 10px;
}

.product-price {
  font-weight: 300;
  padding-bottom: 10px;
  border-bottom: 1px solid  #bfbfbf;
}

.attr {
  font-weight: 300;
}

.gallery {
  width: 100%;
  border-top: .5px solid #bfbfbf;
}

.contact, .about {
  text-align: center;
}

.logo {
  width: 275px;
}

.product-tile {
  padding: 10px;
}

.title, .price {
  font-size: .7em;
  display: block;
}

.title {
  padding-top: 5px;
}

.shop-by {
  font-family: 'Playfair Display';
  font-size: 1.2em;
  font-style: italic;
}

.product-gallery {
  padding-left: 20px;
}

.background-img {
  width: 600px;
  height: 80vh;
  margin-right: 90px;
  // background-image: url("https://img1.etsystatic.com/058/1/8033764/il_fullxfull.741624475_pf9k.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.background-img2 {
  margin-top: 70px;
  height: 60vh;
  width: 400px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  // background-image: url("https://img1.etsystatic.com/063/1/8033764/il_fullxfull.753573557_n199.jpg");
}

.navbar {
  height: 200px;
  text-align: center;
  margin-bottom: 0;
}

.shopping-bag {
  font-size: .85em;
  text-align: right;
  margin-left: auto;
}

span.sign-out {
  text-align: left;
  font-size: .7em;
  padding-top: 8px;
  padding-right: 5px;
}

.side-nav-link {
  font-size: .6em;
  display: block;
  padding-bottom: 5px;

}

.nav-link {
  padding-right: 10px;
  font-size: .7em;
}

.mini-links {
  display: flex;
}

.link-bar {
  // border-top: 1px solid black;
  padding: 0 10px 10px 10px;
  width: 100%;
}

.side-nav {
border-right: 1px solid #bfbfbf;
}

h1 {
  font-family: 'Playfair Display';
  font-size: 2em;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  font-family: 'Roboto';
  font-size: 1.5em;
  font-weight: 100;
  text-transform: uppercase;
}

h4 {
  font-size: 1.2em;
  font-weight: 100;
  text-transform: uppercase;
}


a {
  text-decoration: none;
  color: black;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

img {
  width: 95%;
}

//cart div styling

.your-cart {
  font-weight: '100';
}
.cart-item {
  display: block;
}

.row {
  padding-top: 15px;
  text-align: right;
}

.cart-link {
  font-size: .7em;
}



//admin tile styling

.admin-main-photo {
  width: 100%;
}

.admin-item {
  padding: 5px;
}


.main-container {
  width: 1200px;
  margin: 0 auto;
}

//product tile

.buttons {
  font-size: .5em;
  text-align: right;
  margin-right: 40px;
}

.sort-by {
  font-weight: 300;
}

.low {
  border-right: 1px solid black;
  padding-right: 5px;
  cursor: pointer;
}

.high {
  padding-left: 5px;
  cursor: pointer;
  border-right: 1px solid #bfbfbf;
  padding-right: 5px;
}

.new {
  padding-left: 5px;
  cursor: pointer;
}

.welcome-message {
  text-align: center;
}
