@import url(https://fonts.googleapis.com/css?family=Roboto:300italic,300,100italic,100|Playfair+Display:400,400italic,700,700italic,900,900italic);

* {
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 1.1em;
}

.navbar {
  height: 150px;
}

.nav-link {
  padding-right: 10px;
}

h1 {
  font-family: 'Playfair Display';
  font-size: 3em;
  font-style: italic;
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

img {
  width: 95%;
}

.featured-img {
  width: 65%;
}

.cart-item {
  display: block;
}

.cart-link a {
  text-align: center;
}
