// Base Styles for main elements, primary container divs

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: $background-color;
  height: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.product-info-container {
  padding-top: 50px;
}

.main-gallery-container {
  padding-top: 40px;
}
