//Contains typography styling for all text components

//Base typography styling

* {
  font-family: $font-stack--roboto;
  font-weight: 100;
  font-size: 1.1em;
  color: $font-primary;
}

//Header elements

h1 {
  font-family: $font-stack--playfair;
  font-size: 2em;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  font-family: $font-stack--roboto;
  font-size: 1.5em;
  font-weight: $font-weight--ultralight;
  text-transform: uppercase;
}

h4 {
  font-size: 1.2em;
  font-weight: 100;
  text-transform: uppercase;
}

//Typography styles relevant to gallery view

.side-nav h2 {
  margin-top: 0;
}

.shop-by {
  font-family: $font-stack--playfair;
  font-size: 1.2em;
  font-style: italic;
  color: $font-accent;
}

.sort-by {
  font-weight: 300;
}

//Typography styles relevant to product pages

.product-info p {
  font-size: .65em;
  padding-left: 10px;
}

.product-name {
  font-family: $font-stack--playfair;
  font-size: 1.2em;
  margin-top: 0;
  font-style: italic;
  padding-bottom: 10px;
}

.product-price {
  font-weight: 300;
  padding-bottom: 10px;
  border-bottom: 1px solid $border-color;
}

.attr {
  font-weight: 300;
}

//About/contact pages

.contact-us {
  padding-top: 40px;
  text-align: center;
  display: block;
  font-size: .9em;
}

.about, .contact {
  color: $font-accent;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid $border-color;
}

.about-info {
  text-align: center;
  font-size: .9em;
  padding-top: 15px;
}

//Typography styles relating to shopping cart

.your-cart {
  font-weight: '100';
}

.in-cart {
  border-bottom: 1px solid $border-color;
  height: 250px;
  margin-top: 40px;
  font-size: .9em;
}

.checkout-totals {
  font-family: $font-stack--playfair;
  font-style: italic;
}

.your-cart h4 {
  font-family: $font-stack--playfair;
  font-style: italic;
}

.cart-checkout h3 {
  font-family: $font-stack--playfair;
  font-style: italic;
  font-size: 1.8em;
  text-align: center;
  text-transform: capitalize;
}

.no-products {
  text-align: center;
  font-size: 1.4em;
  margin-top: 50px;
}

//sign in message

.welcome-message {
  text-align: center;
}
