// Styling for all button elememts

//add to cart button

.add-cart {
  margin-top: 30px;
  background-color: #800040;
  color: #fff;
  padding: 15px;
  font-size: .8em;
}

//proceed to checkout button

.checkout-btn {
  background-color: #800040;
  color: #fff;
  font-size: .4em;
}

//remove item from cart button 

.remove-item {
  background-color: #3A474F;
  color: #fff;
}
