// Styling for all links

//Universal link styling

a, a:active, a:visited, a:hover {
  @extend %main-links;
}

// Navbar links styling

a.nav-link {
  @extend %main-links;
  padding-right: 10px;
  font-size: .8em;
  &:hover {
    @extend %link-hover-light;
  }
}

.nav-link {
  font-size: .8em;
  padding-right: 7px;
  &:hover {
    @extend %link-hover-light;
  }
}

a.dropdown-toggle {
  text-decoration: none;
  &:hover {
    @extend %link-hover-light;
  }
}

.dropdown-link {
  font-size: 1.2em;
  display: block;
  padding-bottom: 5px;
  padding-left: 10px;
  font-weight: $font-weight--light;
  &:hover {
    @extend %link-hover-bold;
    text-decoration: underline;
  }
}

.dropdown a {
  padding-right: 7px;
  font-size: .8em;
  text-decoration: none;
}

.cart-link {
  font-size: .7em;
  color: $font-accent;
}

.contact-us a {
  &:hover {
    color: $font-accent;
  }
}

.sign-out a {
  color: $font-accent;
}

// Side nav links styling

.side-nav-link {
  position: relative;
  text-decoration: none;
  font-size: .6em;
  display: block;
  padding-bottom: 5px;
  position: relative;
  &:hover {
    @extend %link-hover-light;
  }
}

.side-nav-link:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 1px solid $font-accent;
  transition: 0.4s;
}

.side-nav-link:hover:after {
  width: 30%;
}

.low {
  border-right: 1px solid $black;
  padding-right: 5px;
  cursor: pointer;
  &:hover {
    @extend %link-hover-bold;
  }
}

.high {
  padding-left: 5px;
  cursor: pointer;
  border-right: 1px solid $border-color;
  padding-right: 5px;
  &:hover {
    @extend %link-hover-light;
  }
}

.new {
  padding-left: 5px;
  cursor: pointer;
  &:hover {
    @extend %link-hover-light;
  }
}

.new-arrivals {
  font-family: $font-stack--playfair;
  font-size: 1.7em;
  font-style: italic;
  color: $font-accent;
}

ul.dropdown-menu {
  background-color: #F1F1F3;
}
