//Styling for shopping cart component

.cart-item {
  display: block;
}

.row {
  padding-top: 15px;
  text-align: right;
}

.empty-cart {
  text-align: center;
  margin-top: 50px;
  h1 {
    padding-bottom: 10px;
  }
}

.thumbnail {
  width: 200px;
  border: none;
  border-radius: 5%;
}

.right {
  padding-top: 10px;
  text-align: right;
  button {
    width: 200px;
  }
}

.left {
  padding-top: 10px;
  text-align: left;
}
