<h1 class="about">About Us</h1>
<p>White Light is a Portland-based vintage boutique that sources the best pieces from Edwardian to 90's grunge. We take pride in restoring every piece to it's original lustre, so that it comes to you ready for a new life.</p>
<span>{{#link-to 'contact'}}QUESTIONS? CONTACT US{{/link-to}}</span>
<h2>Our Returns Policy</h2>
<p>White Light does not accept returns on items that do not fit.</p>
<p>We do our best to provide accurate measurements, so please be sure to check these to your own before purchasing.
If a measurement is not provided, feel free to ask!</p>
<p>White Light will accept returns under the condition that an item has been grossly misrepresented. Returns will not be accepted due to minor imperfections. All items are as is, and any major issues should be noted in the item's description. If you feel your purchase has any major flaws that have been overlooked, or has been misrepresented, please contact us</p>
<p>Refunds will not be provided for any items that have been lost in transit.</p>
