<div class="container app-container">
  <div class="navbar">
    <div class="mini-links">
      {{#if session.isAuthenticated}}
        <span class="sign-out" {{action 'signOut'}}>Sign Out / </span>
      {{/if}}
        <span class="sign-out">{{#link-to 'sign-up'}}Create an Account / {{/link-to}}</span>
        <span class="sign-out">{{#link-to 'sign-in'}}Sign In{{/link-to}}</span>
        <span class="shopping-bag">{{cart-quantity}}</span>

    </div>
    {{#link-to 'index'}}<h1 class="logo">White Light</h1>{{/link-to}}
    <div class="link-bar">
      {{#link-to 'new'}}<span class="nav-link">NEW ARRIVALS</span>{{/link-to}}
      {{#link-to 'category' 'dresses'}}<span class="nav-link">DRESSES</span>{{/link-to}}
      {{#link-to 'category' 'tops'}}<span class="nav-link">TOPS</span>{{/link-to}}
      <!-- {{#link-to 'category' 'bottoms'}}<span class="nav-link">BOTTOMS</span>{{/link-to}}
      {{#link-to 'category' 'outerwear'}}<span class="nav-link">OUTERWEAR</span>{{/link-to}}
      {{#link-to 'category' 'bags'}}<span class="nav-link">BAGS</span>{{/link-to}}
      {{#link-to 'category' 'shoes'}}<span class="nav-link">SHOES</span>{{/link-to}}
      {{#link-to 'category' 'accoutrement'}}<span class="nav-link">ACCOUTREMENT</span>{{/link-to}}
      {{#link-to 'admin'}}<span class="nav-link">ADMIN PORTAL</span>{{/link-to}} -->

    </div>
  </div>
</div>
<div>
  {{outlet}}
</div>
