<div class="container">
  <div class="navbar">
    {{#link-to 'index'}}<h1>Shop</h1>{{/link-to}}
    {{#link-to 'dresses'}}<span class="nav-link">DRESSES</span>{{/link-to}}
    {{#link-to 'tops'}}<span class="nav-link">TOPS</span>{{/link-to}}
    {{#link-to 'bottoms'}}<span class="nav-link">BOTTOMS</span>{{/link-to}}
    {{#link-to 'index'}}<span class="nav-link">OUTERWEAR</span>{{/link-to}}
    {{#link-to 'bags'}}<span class="nav-link">BAGS</span>{{/link-to}}
    {{#link-to 'shoes'}}<span class="nav-link">SHOES</span>{{/link-to}}
    {{#link-to 'index'}}<span class="nav-link">ACCOUTREMENT</span>{{/link-to}}
    {{cart-quantity}}

  </div>
</div>
<div class="container">
  {{outlet}}
</div>
