<div class="main-container">
  <div class="cart-checkout">
    {{display-cart items=items}}

    <!-- {{stripe-checkout
      image="/square-image.png"
      name="Demo Site"
      description="2 widgets ($20.00)"
      amount=2000
      action="processStripeToken"
    }} -->
  </div>
</div>
