<div class='page-header'>
    <h1>Welcome, you are signed in!</h1>
</div>
<div class='panel panel-default'>
    <h1>welcome,{{session.currentUser.email}}</h1>
    <div class='panel-body'>
    </div>
</div>
